# AuthName "Project Kaizen "
# AuthUserFile "/home/fortwo9/.htpasswds/public_html/dev/passwd"

ErrorDocument 401 ./onerror.html
ErrorDocument 403 ./onerror.html
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteBase /dev/
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dev/index.php [L]

</IfModule>

<FilesMatch "\.(txt|xml|js|css)$">
Header set Last-Modified "Wed, 05 Feb 2014 11:00:00 GMT"
Header set Cache-Control "max-age=604800"
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
Header set Last-Modified "Wed, 05 Feb 2014 11:00:00 GMT"
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# END WordPress
# AuthType Basic
# require valid-user

# compress text, html, javascript, css and xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
