div.nav_links { height: 20px; width: 1000px; clear: both; }
div.nav_links span { float: right; margin-left: 10px; }
div.nav_links span.back { float: left; }

div.center_content { text-align: center; }
div.content_block { margin:0 auto; width:1020px; text-align:left; }
div.content_block div.content_header { background-color:#000; border-radius:15px 15px 0px 0px; height:60px; }
div.content_header div.title { color: white; font-size: 28px; font-weight: 700; padding:15px 0; float: left; text-align:center; width: 800px; line-height: 30px; text-transform:uppercase; }
div.content_header div.links { float: right; padding: 15px 0 0 0; }
div.content_header div.links span { float: left; padding: 0 5px; }

div.content_header div.header_info { clear:both; background-color: black; }
div.header_info div.pictures { float: left; width: 685px; height: 320px; background-color:black; }
div.header_info div.pictures div.sub_title { font-size: 18px; line-height: 30px; text-align: center; background-color: RGBA(0,0,0,0.7); width: 685px; color: white; display:block; overflow:visible; }
div.header_info div.share { float: right; background-color: black; width: 335px; height: 320px; background-image: url(../images/addons/add-on-bckg.png); }
div.header_info div.share div.email { background-color: black; border: thin solid #666; border-radius: 10px; text-align: center; width: 315px; height: 85px; margin:5px auto 6px auto; }
div.header_info div.share div.email p { color: white; font-size: 18px; font-weight: 700; padding-top: 5px; }
div#share-date { background: url(../images/addons/add-on-bckg.png);  border-radius:10px; border:solid 1px #ccc; width:500px; height:290px; display:none; color:#FFF; }
div#share-date form#share-this-date { float:right;margin-top:30px; margin-right:80px; }
div#share-date form#share-this-date div.info { float:right; clear:both; margin-right:35px; }
div#share-date form#share-this-date div.message { float:left; clear:both; margin:10px 0; }

div.header_info div.share div.add_ons { width: 335px; height: 73px; border-bottom: solid thin #666; background-color: black; clear: both; }
div.header_info div.share div.add_ons img { float:left; padding: 5px; width: 63px; height: 55px; margin: 4px 0; }
div.header_info div.share div.add_ons div.info { width: 254px; height: 64px; padding-top: 6px; float: right; color: white; }
div.header_info div.share div.add_ons div.info p { font-weight: 700; }
div.header_info div.share div.add_ons div.info span { font-size:12px; }

div.date_content { border-top: 4px solid #555; }
div.date_content div.date_details { float: left; background-color: #f2f2f2; width: 270px; }
div.date_content div.date_details div.item { margin-bottom: 20px; color: #555; margin-top: 15px; height: 30px; margin: 15px 10px;}
div.date_content div.date_details div.item span.image { float:left; width:50px; }
div.date_content div.date_details div.item span.block { border-bottom: thin dotted; min-height: 40px; float: left; width: 180px; margin-bottom:10px; }
div.date_content div.date_details div.item span.block p { font-weight: 700; margin-bottom: 5px; margin-top: 0px; line-height:10px; }
div.date_content div.date_details div.item span.block p.desc { color:#29A8E0; padding-top: 4px; }
div.date_content div.date_details div.map { }
div.date_content div.date_details div.map p.business_name { color: black; font-weight: 700; margin-left: 60px; margin-bottom: 0px; }
div.date_content div.date_details div.map p.extra_info { color: black; margin-top: 0px; margin-left: 60px; margin-bottom: 10px; }

div.date_content div.date_info { float: left; width: 372px; padding: 10px 20px; }
div.date_content div.date_info div.title { color:#2FB2FC; font-weight:700; font-size:24px; padding: 5px 0; }
div.date_content div.date_info p.short_desc { font-size: 18px; font-weight: 700; padding: 10px 0; }
div.date_content div.date_info p { padding: 5px 0; }
div.date_content div.date_info div.quotes { margin-top: 30px; width: 360px; color: rgb(41, 168, 224); border: 1px solid rgb(41, 168, 224); border-radius: 10px 10px 10px 10px; font-style: italic; padding: 2px 8px; }

div.date_content div.date_package { float: right; width: 336px; position:relative; }
div.date_content div.date_package div.ribbon { position:absolute; top: 0; background-image:url(/dev/wp-content/themes/images/FTP-buy-ribbon.png); height:84px; width:378px; font-weight: 700; font-size:18px; }
div.date_content div.date_package div.ribbon div.info { width: 341px; height: 73px; margin: 2px; }
div.date_content div.date_package div.ribbon div.info div.name { float: left; color: white; width: 248px; text-align:center; margin: 14px 2px; }
div.date_content div.date_package div.ribbon div.info div.price { width: 85px; height:70px; text-align: center; vertical-align: middle; line-height:70px; float:left; }
div.date_content div.date_package div.package_info { background-color: black; margin-top: -2px; border-bottom: 20px solid black; }
div.date_content div.date_package div.member { background-image:url(/dev/wp-content/themes/images/price-desc-bckg.png) !important; height:30px !important; margin-top:5px; width:306px; margin-left:15px; }
div.date_content div.date_package div.member div.descriptor { margin-top: 0px; padding: 10px 0 0 10px; color:#FFF; font-weight:700; }
div.date_content div.date_package div.package_info div#buy-button { margin: 10px auto; width: 114px; }
div.date_content div.date_package div.package_info div.desc { background-color: white; margin: 0 15px; padding: 5px 15px; }
div.date_content div.date_package div.package_info div.desc p { font-size: 14px; padding:5px 0; }
div.date_content div.date_package div.package_info div.desc div { font-size: 12px; margin: 15px 0;}
div.date_content div.date_package div.package_info div.buy_btn { height: 45px; width: 225px; margin: 10px auto;}

div.date_content div.date_package div.package_info div.blocks { display:none; background-color:#231f20; color:white; }
div.date_content div.date_package div.package_info div.blocks div.header { width: 320px; height:40px; }
div.date_content div.date_package div.package_info div.blocks div.header h1 { float:left; margin:0 15px; }
div.date_content div.date_package div.package_info div.blocks div.header img { float:right; margin-top:5px; }
div.date_content div.date_package div.package_info div.blocks form div.login_fields { height: 30px; float:right; }
div.date_content div.date_package div.package_info div.blocks form input.login_text { background-color: rgb(204, 204, 204); border: medium none; height: 20px; float:right; width:120px; }

div.date_content div.date_package div.package_info div.login_block { height:280px; }
div.date_content div.date_package div.package_info div.login_block div.login_info { margin:10px; }
div.date_content div.date_package div.package_info div.login_block div.login_info form { width: 270px; float: right; margin-top:10px;}
div.date_content div.date_package div.package_info div.login_block div.login_info form div.login_fields { width: 315px; }

div.date_content div.date_package div.package_info div.login_block div.login_info form a.forgot_pass { float: right; }
div.date_content div.date_package div.package_info div.login_block div.login_info form input.login_btn { float:right; margin:10px 0; clear:both; font-size:18px; padding:5px; width:85px; }
div.date_content div.date_package div.package_info div.login_block div.login_info div.fb_login { clear: both; float:right; width: 276px; margin: 15px 0;}
div.date_content div.date_package div.package_info div.login_block div.login_info div.fb_login h2 { float: left; margin: 0 10px; }

div.date_content div.date_package div.package_info div.register_block { height:350px; }
div.date_content div.date_package div.package_info div.register_block div.register_info { margin:15px; }

div.date_content div.date_package div.package_info div.register_block div.register_info form { margin-top:15px; width:300px; }
div.date_content div.date_package div.package_info div.register_block div.register_info form div.login_fields { width:300px; }
div.date_content div.date_package div.package_info div.register_block div.register_info form input.register_btn {clear:both; display:block; margin: 0 auto;}

div.date_content div.date_package div.package_info div.forgot_pass_block { height:180px; }
div.date_content div.date_package div.package_info div.forgot_pass_block div.forgot_pass_info { margin: 0 15px; }
div.date_content div.date_package div.package_info div.forgot_pass_block div.forgot_pass_info h3 { margin: 5px 0; }
div.date_content div.date_package div.package_info div.forgot_pass_block div.forgot_pass_info div.reset { margin:0 auto; text-align:center; }
div.date_content div.date_package div.package_info div.forgot_pass_block div.forgot_pass_info div.reset input.reset_btn { font-size: 18px; }

div.date_content div.date_package div.more_deals { width:335px; background:#f2f2f2; }








